language: java
jdk:
  - openjdk17


sudo: false


cache:
  directories:
    - $HOME/.m2


script:
  - mvn -q -DskipTests install


notifications:
  email:
    on_success: never
    on_failure: always
